<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <h1>Go + HTMX</h1>
    <h2>{{.Message}}</h2>
    <h3 id="time">Shows current time</h3>
    <button hx-get="/time" hx-target="#time">Get Current TIme</button>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go + HTMX</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg w-full text-center">
      <h1 class="text-3xl font-bold text-gray-900 mb-4">Go + HTMX</h1>
      <h2 class="text-xl font-semibold text-gray-700 mb-4">{{.Message}}</h2>
      <h3 id="time" class="text-lg text-gray-500 mb-4">Shows current time</h3>
      <button
        hx-get="/time"
        hx-target="#time"
        class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >
        Get Current Time
      </button>
    </div>
  </body>
</html>
