<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Editor</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold mb-4">Task List</h1>
      <a
        href="/tasks/new"
        hx-get="/tasks/new"
        hx-trigger="click"
        hx-target="#main"
        class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300 mb-4"
      >
        Add New Task
      </a>

      <div id="main" class="bg-white p-4 rounded shadow">
        <ul class="list-disc list-inside space-y-2">
          {{range .}}
          <li
            class="flex justify-between items-center bg-gray-50 p-2 rounded shadow"
          >
            <span>{{.ID}}. {{.Title}}</span>
            <div>
              <a
                href="/tasks/{{.ID}}/edit"
                hx-get="/tasks/{{.ID}}/edit"
                hx-trigger="click"
                hx-target="#main"
                class="text-blue-500 hover:underline mr-2"
              >
                📝
              </a>
              <form
                action="/tasks/{{.ID}}/delete"
                method="post"
                hx-post="/tasks/{{.ID}}/delete"
                hx-trigger="submit"
                hx-target="#main"
                class="inline-block"
              >
                <button type="submit" class="text-red-500 hover:underline">
                  ❌
                </button>
              </form>
            </div>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </body>
</html>
